@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
html {
  height: 100%;
}
.page-body {
  height: 100%;
  width: 1280px;
  margin: 0 auto;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
  background-color: #f2f5f2;;
}
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
  width: 1200px;
}
.visually-hidden {
  position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.page-header {
  color: #000000;
  background-color: #ffffff;
  padding: 0 70px;
}
.nav {
  margin: 0;
  padding: 0;
  display: flex;
}
.logo-img {
  position: absolute;
  display: inline;
  vertical-align: top;
}
.nav-link {
  display: block;
  padding: 20px 16px;
  line-height: 24px;
  color: inherit;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
  margin: 0;
}
.user-link {
  min-width: 44px;
  min-height: 64px;

}
.user-link:nth-child(1) {
  margin-left: auto;
}
.nav-list,
.nav-user,
.nav-crumbs-list,
.infrastructure-list,
.housing-list,
.social-item {
  list-style-type: none;
}
.nav-list {
  display: flex;
  margin: 0;
  margin-left: 168px;
  padding: 0;
}
.nav-user {
  display: flex;
  width: 356px;
  padding: 0;
  margin: 0 0 0 auto;
}

.button {
  color: #ffffff;
  background-color: #756157;
  border: none;
}

.page-main {
  margin: 0 auto;
  flex-grow: 1;
}
.advantages-billboard {
  margin: 0 auto;
  display: block;
}
.background-billboard {
  width: 1200px;
  height: 485px;
  background-color: #437AA6;
  background-image: url("../images/decoration.svg"), url("../images/offer-background.jpg");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.advantages {
  background-color: #ffffff;
}
.title {
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}
.slogan-wrapper {
  width: 651px;
  margin: 0 auto;
  padding: 69px 274.5px;
  margin-bottom: 21px;
  background-color: #ffffff;
}
.slogan-reasons {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}

.reasons-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(131, 179, 211, 0.12);
}
.reasons-item {
  box-sizing: border-box;
  width: 400px;
  min-height: 385px;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  text-align: center;
}
.reasons-item:nth-child(3n) {
  background-color: rgba(131, 179, 211, 0.2);
}

.reasons-item:first-child,
.reasons-item:last-child {
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.reasons-item:first-child .inner-item,
.reasons-item:last-child .inner-item {
  width: 230px;
  padding: 0 85px;
}
.reasons-item > .reasons-wrap {
  width: 230px;
  margin: auto;
}
.inner-wrap {
  width: 230px;
  margin: auto;
}
.reasons-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}
.item-title {
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}
.inner-item {
  color: #ffffff;
  background-color: #82b3d3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.reasons-item:last-child .inner-item {
  order: 1;
}

.service {
  text-align: center;
  background-color: #ffffff;
}
.title-wrap {
  padding: 69px 347.5px 64px;
}
.service-title {
  margin: 0;
}
.service-staff {
  font-size: 22px;
  line-height: 26px;
}
.service-list {
  margin: 0;
  padding-left: 0;
  display: flex;
}
.service-list .service-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}
.item-title {
  margin-top: 102px;
}
.service-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.service-item:nth-child(1) .service-wrap {
  background: url("../images/service/hous.svg") no-repeat;
  background-position: 50% 0%;
}
.service-item:nth-child(2) .service-wrap {
  background: url("../images/service/food.svg") no-repeat;
  background-position: 50% 0%;
}
.service-item:nth-child(3) .service-wrap {
  background: url("../images/service/souvenir.svg") no-repeat;
  background-position: 50% 0%;
}
.service-wrap {
  width: 230px;
  align-self: center;
}
.service-item {
  width: 400px;
  min-height: 385px;
  padding: 0;
  list-style-type: none;
}

.hotel-offers {
  padding: 96px 304px;
  text-align: center;
  background-color: #ffffff;
}
.offers-title {
  margin: 0;
  margin-bottom: 20px;
}
.offers-description {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
  margin-bottom: 54px;
}
.offers-search {
  display: block;
  margin: 0 auto;
  padding: 8px 50px;
  width: 376px;
  min-height: 52px;
  font-size: 20px;
  font-weight: 700;
  line-height: 56px; /******** КОСТЫЛЬ!!! ********/
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
}


.subscription {
  background-color: #ffffff;
  padding: 96px 258px 104px;
  text-align: center;
}
.subscription-background {
  color: #ffffff;
  background-color: #486998;
  background: url("../images/subscribe-background.jpg") no-repeat;
}
.subscription-wrap {
  width: 430px;
  margin: 0 auto;
}
.subscription-title {
  color: #000000;
}

.footer {
  color:#000000;
  background-color: #ffffff;
}
.footer-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 70px 30px;
}

.social-list {
  margin: 0;
  padding: 0;
  width: 235px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}
.social-item {
  display: block;
  width: 47px;
  height: 40px;
}
.social {
  display: block;
  padding: 13px 11.5px;
}
.button-send {
  color: #ffffff;
  background-color: #82b3d3;
  border: none;
}
.phone-link {
  font-size: 40px;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
}

/* CATALOG.HTML */
.hotel-search-wrapper {
  color: #ffffff;
  background-color: #82b3d3;
  background: url("../images/hotels-background.jpg") no-repeat;
  padding: 35px 70px 70px;
}
.inner-header-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  line-height: 78px;
  margin: 0 0 8px 0;
  padding: 0;
}
.nav-crumbs-list {
  margin: 0;
  padding: 0 0 40px 0;
  list-style-type: none;
}
.nav-crumbs-item {
  font-size: 16px;
  line-height: 21px;
}
.crumbs-link {
  color: #ffffff;
  text-decoration: none;
}

.hotels-filter {
  display: flex;
}
.fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
.legend  {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 32px;
}
.infrastructure-list,
.housing-list {
  line-height: 23px;
  margin: 0;
  padding: 0;
}
.infrastructure-list {
  margin-right: 70px;
}
.infrastructure-item:not(.infrastructure-item:last-child),
.housing-item:not(.housing-item:last-child) {
  margin-bottom: 16px;
}
.calculation {
  margin-left: auto;
}
.filter-button-wrap {
  display: flex;
  flex-direction: column;
}
.button-send,
.button-reset {
  width: 191px;
  min-height: 36px;
  text-transform: uppercase;
}
.button-reset {
  background-color: transparent;
}

.result-search {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  padding: 50px 70px 40px;
}
.select-wrap {
  display: flex;
  color: #333333;
  background-color: #ffffff;
}
.select-control {
  width: 292px;
  border: 2px solid#e5e5e5;
  border-radius: 4px;
}
.result-list {
  width: 217px;
  display: flex;
  padding-left: 0;
  margin: 0 0 0 70px;
  justify-content: flex-end;
}
.result-item:not(.result-item:last-child) {
  margin-right: 8px;
}
.result-quantity {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  margin: 0 auto 0 0;
  text-transform: uppercase;
}

.cards {
  background-color: #ffffff;
  padding-bottom: 60px;
}

.cards-list {
  margin: 0 70px 80px 70px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.cards-item {/**/
  width: 340px;
  min-height: 438px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cards-item:not(:nth-child(3n)) {
  margin-right: 20px;
}
.cards-item-link {
  display: flex;
  flex-direction: column
}
.cards-item-img {
  order: -1;
}

.rating {
  background-color: #f2f2f2;
}

.pagination {
  width: 1060px;
  display: flex;
  margin: 0 auto;
  padding-left: 0;
  list-style-type: none;
}
.pagination-item {

}
.pagination-item:not(.pagination-item:last-child) {
  margin-right: 8px;
}
.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 11px 18px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
  border-radius: 4px;
}
.pagination-current {
  color:#000000;
  background-color: #f2f2f2;
}

.subscription-send {
  color: #ffffff;
  background-color: #82b3d3;
  border: none;
  text-transform: uppercase;
}
.result-item {
  list-style-type: none;
  text-decoration: none;
  width: 48px;
  height: 48px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}
.catalog-view {
  padding: 17px 16px;
}
.result-item-border {
  border: 2px solid #000000;
  border-radius: 4px;
}
