@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
html {
  height: 100%;
}

.page-body {
  height: 100%;
  width: 1280px;
  margin: 0 auto;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
  background-color: #f2f5f2;;
}
.page-container {
  display: flex;
  flex-direction: column;
min-height: 100%;
  margin: 0 auto;
  width: 1200px;
}
.visually-hidden {
  position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.page-header {
  color: #000000;
  background-color: #ffffff;
}
.nav {
  width: 1200px;
  margin: 0 auto;
  display: flex;
}
.nav-link {
  line-height: 24px;
  color: inherit;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
}
.user-link:nth-child(1) {
  margin-left: auto;
}
.nav-list,
.nav-user,
.nav-crumbs-list,
.infrastructure-list,
.housing-list,
.social-item {
  list-style-type: none;
}
.nav-list {
  display: flex;
  margin: 0 0 0 30px;
  padding: 0;
}
.nav-user {
  display: flex;
  width: 356px;
  padding: 0;
  margin-left: auto;
}
.nav-item {
  padding: 20px 16px;
}
.button {
  color: #ffffff;
  background-color: #756157;
  border: none;
}

.page-main {
  margin: 0 auto;
  flex-grow: 1;
}
.advantages-billboard {
  margin: 0 auto;
  display: block;
}
.background-billboard {
  width: 1200px;
  height: 485px;
  background-color: #437AA6;
  background-image: url("../images/decoration.svg"), url("../images/offer-background.jpg");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.advantages {
  background-color: #ffffff;
}
.title {
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}
.slogan-wrapper {
  width: 651px;
  margin: 0 auto;
  padding: 69px 274.5px;
  margin-bottom: 21px;
}
.slogan-reasons {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}

.reasons-list {
  margin: 0;
  padding-left: 0;
}
.reasons-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}
.item-title {
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}
.reasons-item {
  list-style-type: none;
  text-align: center;
}
.inner-item {
  color: #ffffff;
  background-color: #82b3d3;
}

.service {
  text-align: center;
}
.title-wrap {
  padding: 69px 347.5px 64px;
}
.service-staff {
  font-size: 22px;
  line-height: 26px;
}

.service-list {
  margin: 0;
  padding-left: 0;
  display: flex;
}

.service-item:nth-child(1) {
  background: url("../images/hous.svg") no-repeat;
  background-position: 50% 0%;
}
.service-item:nth-child(2) {
  background: url("../images/food.svg") no-repeat;
  background-position: 50% 0%;
}
.service-item:nth-child(3) {
  background: url("../images/souvenir.svg") no-repeat;
  background-position: 50% 0%;
}
.service-item {
  padding: 81px 85px;
  list-style-type: none;
  background-position: 50% 50%;
}

.hotel-offers {
  padding: 96px 304px;
  text-align: center;
}
.offers-description {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}
.subscription-background {
  color: #ffffff;
  background-color: #486998;
  background: url("../images/subscribe-background.jpg") no-repeat;
}
.subscription {
  padding: 96px 258px 104px;
  text-align: center;
}
.subscription-wrap {
  width: 430px;
  margin: 0 auto;
}
.subscription-title {
  color: #000000;
}

.footer-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 70px 30px;
}
.social-list {
  display: flex;
  padding-left: 0;
}
.social-item {
  padding: 13px 11.5px;
}
.button-send {
  color: #ffffff;
  background-color: #82b3d3;
  border: none;
}
.phone-link {
  font-size: 40px;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
}

/* CATALOG.HTML */
.hotel-search-wrapper {
  color: #ffffff;
  background-color: #82b3d3;
  background: url("../images/hotels-background.jpg") no-repeat;
  padding: 35px 70px 70px;
}
.hotels-filter {
  display: flex;
}
.filter-button-wrap {
  display: flex;
  flex-direction: column;
}
.result-search {
  display: flex;
  align-items: center;
  padding: 50px 70px 40px;
}
.result-list {
  width: 217px;
  display: flex;
  padding-left: 0;
  justify-content: flex-end;
}
.result-quantity {
  margin-right: auto;
}

.cards-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0 70px 80px 70px;
}
.hotel-card {
  width: 340px;
}


.rating {
  background-color: #f2f2f2;
}

.pagination {
  width: 1060px;
  display: flex;
  margin: 0 auto;
  padding-left: 0;
}
.pagination-item {
  list-style-type: none;
}
.pagination-link {
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
}
.subscription-send {
  color: #ffffff;
  background-color: #82b3d3;
  border: none;
  text-transform: uppercase;
}
.result-item {
  list-style-type: none;
  text-decoration: none;
  width: 48px;
  height: 48px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}
.catalog-view {
  padding: 17px 16px;
}
.result-item-border {
  border: 2px solid #000000;
  border-radius: 4px;
}
